<form [formGroup]="searchForm" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Photo-Id:</mat-label>
        <input matInput placeholder="Ex. 1" formControlName="id" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Album-Id:</mat-label>
        <input matInput placeholder="Ex. 1" formControlName="albumId" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        color="primary"
        mat-raised-button
        type="submit"
        [disabled]="!searchForm.valid"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
